{% extends 'base.html' %}
{% block content %}
  {% for blog in posts %}
    <div>  
        <h1>{{blog.title}}</h1>
        <p>{{blog.pub_date}}</p>
        <p>{{blog.summary}}<a href="{% url 'detail' blog.id %}">...more</a></p>
    </div>
  {% endfor %}
  
  {% if posts.has_previous %}
    <a href="?page=1">First</a>
    <a href="?page={{posts.previous_page_number}}">Previous</a>
  {% endif %}

  <span>{{posts.number}}</span>
  <span>of</span>
  <span>{{posts.paginator.num_pages}}</span>

  {% if posts.has_next %}
    <a href="?page={{posts.next_page_number}}">Next</a>
    <a href="?page={{posts.paginator.num_page}}">Last</a>
  {% endif %}

  <br>
  <br>
  <!-- 지도를 표시할 div 입니다 -->
  <div id="map" style="width:500px;height:350px;"></div>

  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=	f11c8ce6c8726c2cbab19a3975e2e260"></script>
  <script>
  var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
      mapOption = { 
          center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
          level: 3 // 지도의 확대 레벨
      };

  // 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
  var map = new kakao.maps.Map(mapContainer, mapOption); 
  </script>


{% endblock %}